body,
html {
	margin: 0px;
	padding: 0px;
	height: 100%;
	background-color: #bab8b4;
}

.info {
	background: url("../icons/help.svg");
	height: 1.4em;
	width: 1.4em;
	margin-top: -1px;
	position: relative;
	.tooltip {
		visibility: hidden;

		position: absolute;
		width: 150px;
		padding: 5px 0;
		z-index: 1;
		bottom: 125%;
		left: 50%;
		margin-left: -75px;

		background-color: rgb(43, 43, 43);
		border-radius: 6px;
		border: 1px;

		color: #fff;
		font-size: 12px;
		text-align: center;
	}
	.tooltip::after {
		content: "";
		position: absolute;
		top: 100%;
		left: 50%;
		margin-left: -10px;
		border-width: 10px;
		border-style: solid;
		border-color: rgb(43, 43, 43) transparent transparent transparent;
	}

	&:hover .tooltip {
		visibility: visible;
	}
}
