@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Oxygen|Ubuntu");
$element-background: rgb(153, 147, 143);
$element-background-border: rgb(59, 59, 59);
$element-background-borderlight: rgb(133, 133, 133);

$element-hover: rgb(109, 100, 94);
$element-hoverlight: rgb(161, 157, 155);

$toolbar-width: 70px;

$menubar-height: 30px;

$font: "Ubuntu", Courier, monospace;
