@import url("https://fonts.googleapis.com/css?family=Ubuntu");
$element-background: rgb(153, 147, 143);
$element-backgroundlight: rgb(236, 229, 223);
$element-backgrounddark: rgb(61, 59, 58);

$element-background-border: rgb(59, 59, 59);
$element-background-borderlight: rgb(133, 133, 133);

$element-border: 1px solid $element-background-border;

$element-hover: rgb(109, 100, 94);
$element-hoverlight: rgb(161, 157, 155);
$element-hoverhuedlight: rgb(220, 210, 197);

$toolbar-width: 70px;

$menubar-height: 30px;

$font: "Ubuntu", Courier, monospace;
